In [7]:
import pandas as pd
import numpy as np
# Boston pour la lecture préciser l'encodage utf8 afin d'éviter les problèmes de caractères
# Nous reverrons 
boston = pd.read_csv('data/boston_direct.csv', encoding="utf8")

# On supprime les lignes qui posent problèmes exploration des données et surtout la question posée nous oblige
# à considérer le type des données.
boston = boston[ boston['TOTAL EARNINGS'] != 'TOTAL EARNINGS' ]

#boston.head()

In [47]:
boston['TOTAL EARNINGS'] = boston['TOTAL EARNINGS'].str.replace(',', '')
boston['TOTAL EARNINGS'] = boston['TOTAL EARNINGS'].astype(float)

In [6]:
# On groupe traditionnellement les données puis on applique une fonction d'agrégation
# cela permet de garder dans un objet, ici groupedGain, les groupements pour d'autres
# questions ou traitements sur les données.
groupedGain = boston.groupby('DEPARTMENT_NAME')['TOTAL EARNINGS']
groupedGain.agg(lambda x : x.max() - x.min())

In [8]:
type( boston['TOTAL EARNINGS'] )

#boston.head()

pandas.core.series.Series

In [2]:
boston.to_csv('newboston.csv')

In [5]:
boston = pd.read_csv('data/boston_direct.csv', encoding="utf8")

boston = boston[ boston['TOTAL EARNINGS'] != 'TOTAL EARNINGS' ]

boston.head()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,"Williams,David C.",Boston Police Department,Police Officer,"95,184.68",NaN,"503,025.78","45,176.88","5,307.62","24,610.00","4,375.69","677,680.65",02356
1,"Earley,John W",Boston Police Department,Police Lieutenant,"26,130.54","13,001.47","204,120.61",668.36,NaN,440.00,"6,532.63","250,893.61",02131
2,"Bucelewicz,Helen",Boston Police Department,Police Officer,"8,676.89",NaN,"200,000.00",NaN,NaN,NaN,NaN,"208,676.89",02135
3,"Evans,William B",Boston Police Department,Commissioner (Bpd),"149,999.93","3,461.56","165,858.44",NaN,NaN,NaN,NaN,"319,319.93",02127
4,"Jones,Ronnie C",Boston Police Department,Police Officer,"462,149.98",NaN,"114,973.46",NaN,NaN,NaN,NaN,"577,123.44",02126

In [22]:
boston['TOTAL EARNINGS'].replace(to_replace=r',', value='', regex=True, inplace=True)
boston['TOTAL EARNINGS'] = boston['TOTAL EARNINGS'].astype(float)

groupedGain = boston.groupby('DEPARTMENT_NAME')['TOTAL EARNINGS']

# Il nous reste plus qu'à appliquer la fonction d'agrégation
groupedGain.agg(lambda x : x.max() - x.min()).head()

DEPARTMENT_NAME
ASD Human Resources             133675.28
ASD Intergvernmtl Relations      60171.43
ASD Office Of Labor Relation     99809.07
ASD Office of Budget Mangmnt    148105.33
ASD Purchasing Division         102762.71
Name: TOTAL EARNINGS, dtype: float64

DEPARTMENT_NAME
ASD Human Resources               133675.28
ASD Intergvernmtl Relations        60171.43
ASD Office Of Labor Relation       99809.07
ASD Office of Budget Mangmnt      148105.33
ASD Purchasing Division           102762.71
Accountability                     90935.76
Achievement Gap                   165804.27
Advancement & Ext. Affairs        183183.03
Alighieri Montessori School       135100.95
Assessing Department              141140.71
Auditing Department               148812.05
BPS Adams Elementary              125845.90
BPS Adult Education               132405.09
BPS Alternative Education         142393.51
BPS Alternative Education HS      117673.87
BPS Another Course To Colleg      152036.19
BPS Athletics                     193777.15
BPS Bates Elementary              134694.48
BPS Beethoven Elementary          126586.02
BPS Blackstone Elementary         126262.72
BPS Boston Arts Academy           136420.75
BPS Boston Comm Leadership Ac     155825.22
BPS Boston Evening Academy        130746.09
BPS Boston International HS       141055.84
BPS Boston Latin                  166825.75
BPS Boston School Committee        75019.51
BPS Bradley Elementary            128377.67
BPS Brighton High                 149190.84
BPS Burke High                    173640.64
BPS Business Service              140918.34
                                    ...
Public Works Department           216631.22
Quincy Upper School               135154.84
Registry Division                 108600.72
Research Assess & Eval            120795.84
Roosevelt K-8                     142381.33
School Support & Tranformation    101241.75
Strategy Department               122045.31
Student Support Svc               123578.20
Superintendent                    449065.20
Teaching & Learning               167440.74
Tech Boston Academy               161956.20
Tobin K-8                         227806.29
Traffic Division                  202982.79
Transportation-Parking Clerk      129403.59
Treasury-Collecting Division      143434.48
Treasury-Treasury Division        168012.24
UP "Unlocking Potential" Acad     115919.21
UP Academy Dorchester             120051.09
UP Academy Holland                124409.75
Umana Middle                      155228.33
Unified Student Svc               145758.08
Veterans' Services                104745.12
WREC: Urban Science Academy       156794.08
Warren/Prescott K-8               141895.42
West Roxbury Academy              140658.00
West Zone ELC                     136720.46
Women's Advancement                45282.75
Workers Compensation Service       84057.20
Young Achievers K-8               131527.56
Youth Engagement & Employment      82112.00
Name: TOTAL EARNINGS, Length: 226, dtype: float64