Corrections

```python
import pandas as pd
import numpy as np

data = [ 
    [13,  54,  23,  23,  62,  29,  53,  15,  54 , 67],
    [13,  54,  23,  23,  62,  29,  53,  15,  54,  67],
    [98,  36,  34,  40,  13,  92,  41,  61 , 94,  62],
    [33,  87,  46,  44,  82,  87,  11,  76,  76,  21],
    [56,  16 , 13,  91,  64,  13,  77,  44,  44,  27],
    [15 , 87,  20,  50,  53,  48,  39,  38,  91,  32],
    [93,  48,  28,  27,  50 , 55 , 28 , 38  ,78 , 85],
    [76,  58 , 26  ,89 , 88  ,71 , 97 , 80,  42,  52],
    [38,  98,  55,  61,  75,  82 , 37,  64,  87,  83],
    [24,  53,  16,  84,  82,  13,  18,  18,  82,  51],
  ]

A = pd.DataFrame(data, index=list("abcdefghij"), columns=list("abcdefghij".upper()))
A.drop_duplicates(inplace=True)

# 2. compter les occurences du DataFrame

# Première solution un peu technique ...

stat = {}
# on itère sur le nom des colonnes
for column in A:
    # On parcourt les valeurs unique par colonne
    for unique in A[column].unique():
        # On compte de manière globale sur tout le DataFrame
        # Donc si on a déjà compté la valeur dans stat on ne le refait pas
        if unique not in stat:
            # (A == unique).sum() compte par colonne il faut donc l'appliquer
            # une deuxième fois
            stat[unique] = (A == unique).sum().sum()
            
print(stat)

# Une autre solution plus simple

stat = {}

for index, row in A.iterrows():
    for number in row:
        # la première fois pour number on initialise stat à 0
        # pour pouvoir compter le nombre d'occurence
        if not in stat:
            stat[number] = 0
        stat[number] += 1

# 3. Somme des nombres pairs de chaque ligne

A[A % 2  == 0].sum(axis=1)

```

In [2]:
import pandas as pd
import numpy as np

data = [ 
    [13,  54,  23,  23,  62,  29,  53,  15,  54 , 67],
    [13,  54,  23,  23,  62,  29,  53,  15,  54,  67],
    [98,  36,  34,  40,  13,  92,  41,  61 , 94,  62],
    [33,  87,  46,  44,  82,  87,  11,  76,  76,  21],
    [56,  16 , 13,  91,  64,  13,  77,  44,  44,  27],
    [15 , 87,  20,  50,  53,  48,  39,  38,  91,  32],
    [93,  48,  28,  27,  50 , 55 , 28 , 38  ,78 , 85],
    [76,  58 , 26  ,89 , 88  ,71 , 97 , 80,  42,  52],
    [38,  98,  55,  61,  75,  82 , 37,  64,  87,  83],
    [24,  53,  16,  84,  82,  13,  18,  18,  82,  51],
  ]

A = pd.DataFrame(data, index=list("abcdefghij"), columns=list("abcdefghij".upper()))
A.drop_duplicates(inplace=True)


stat = {}
print((A == 13).sum())

# on itère sur le nom des colonnes
for column in A:
    # On parcourt les valeurs unique par colonne
    for unique in A[column].unique():
        # On compte de manière globale sur tout le DataFrame
        # Donc si on a déjà compté la valeur dans stat on ne le refait pas
        if unique not in stat:
            # (A == unique).sum() compte 
            stat[unique] = (A == unique).sum().sum()
            
print(stat)

# 3. Somme des nombres pairs de chaque ligne

A[A % 2  == 0].sum(axis=1)

A    1
B    0
C    1
D    0
E    1
F    2
G    0
H    0
I    0
J    0
dtype: int64
{11: 1, 13: 5, 15: 2, 16: 2, 18: 2, 20: 1, 21: 1, 23: 2, 24: 1, 26: 1, 27: 2, 28: 2, 29: 1, 32: 1, 33: 1, 34: 1, 36: 1, 37: 1, 38: 3, 39: 1, 40: 1, 41: 1, 42: 1, 44: 3, 46: 1, 48: 2, 50: 2, 51: 1, 52: 1, 53: 3, 54: 2, 55: 2, 56: 1, 58: 1, 61: 2, 62: 2, 64: 2, 67: 1, 71: 1, 75: 1, 76: 3, 77: 1, 78: 1, 80: 1, 82: 4, 83: 1, 84: 1, 85: 1, 87: 4, 88: 1, 89: 1, 91: 2, 92: 1, 93: 1, 94: 1, 97: 1, 98: 2}

a    170.0
c    456.0
d    324.0
e    224.0
f    188.0
g    270.0
h    422.0
i    282.0
j    324.0
dtype: float64

In [6]:
Matrice = pd.DataFrame([[1,6,3], [4, 7, 2], [8, 8, 5]], index=list("EFG"), columns=list('ABC'))

print(Matrice.sum())

print(1/13,  4/13, 8/13)

Matrice / Matrice.sum()

A    13
B    21
C    10
dtype: int64
0.07692307692307693 0.3076923076923077 0.6153846153846154

          A         B    C
E  0.076923  0.285714  0.3
F  0.307692  0.333333  0.2
G  0.615385  0.380952  0.5

In [13]:
A = pd.DataFrame( np.arange(1, 10) * np.arange(1, 10).reshape(9,1),
                 index=list("abcdefghi"), 
                 columns=list("abcdefghi".upper()) )
# Moyenne 

A.mean(axis = 0)
A.mean(axis = 1)

# 2. Ajoutez la matrice B à l'unique colonne de la matrice A possible. Puis faites la somme en ligne, puis en colonne en utilisant la transposition.
B = pd.DataFrame([11, 6, 4, 8, 0, 9, 7, 8, 13], index=list("abcdefghi"), columns=['A'])

print(A)
A['A'] =  B + A

print(A)

   A   B   C   D   E   F   G   H   I
a  1   2   3   4   5   6   7   8   9
b  2   4   6   8  10  12  14  16  18
c  3   6   9  12  15  18  21  24  27
d  4   8  12  16  20  24  28  32  36
e  5  10  15  20  25  30  35  40  45
f  6  12  18  24  30  36  42  48  54
g  7  14  21  28  35  42  49  56  63
h  8  16  24  32  40  48  56  64  72
i  9  18  27  36  45  54  63  72  81
      A   B   C   D   E   F   G   H   I
a  12.0   2   3   4   5   6   7   8   9
b   8.0   4   6   8  10  12  14  16  18
c   7.0   6   9  12  15  18  21  24  27
d  12.0   8  12  16  20  24  28  32  36
e   5.0  10  15  20  25  30  35  40  45
f  15.0  12  18  24  30  36  42  48  54
g  14.0  14  21  28  35  42  49  56  63
h  16.0  16  24  32  40  48  56  64  72
i  22.0  18  27  36  45  54  63  72  81