In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame({'team': ['A', 'A', 'A', 'B', 'B', 'B', 'B'],
                   'points_for': [18, 22, 19, 14, 11, 20, 28],
                   'points_against': [14, 21, 19, 14, 12, 20, 21]})

df

  team  points_for  points_against
0    A          18              14
1    A          22              21
2    A          19              19
3    B          14              14
4    B          11              12
5    B          20              20
6    B          28              21

In [9]:
grouped = df.groupby('team')

grouped.apply(lambda g : g['prop'] )

      points_for  points_against
team
A             59              54
B             73              67